body {
    background-image: url(../imgs/fundo2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'League Spartan', sans-serif;

    overflow: hidden;
}


.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 86px 250px;
}


.titulo {
    text-align: center;
    color: #64A0A0;
    font-size: 4.8rem;
    margin-bottom: 44px;
    font-weight: 700;
}

.titulo h2 {
    color: #41797A;
    font-size: 3.6rem;
    padding-top: 44px;
    font-weight: 600;
}

main {
    background-color: #D0DCDF;
    border-radius: 12px;
}

.main-inner {
    padding: 33px 60px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.container-valores {
    display: flex;
    gap: 255px;
    margin-bottom: 90px;
}

.container-taxas {
    display: flex;
    gap: 255px;
    margin-bottom: 100px;
}


label {
    font-size: 2rem;
    margin-left: 6px;
}

input,
span,
input::placeholder {
    font-size: 2.2rem;
    border: none;
}

input {
    padding-left: 5px;
}

.input-item .input-div {
    background-color: #fff;
    padding: 12px 8px;
    border: 2px solid #64A0A0;
    border-radius: 7px;
    width: 320px;
    margin-top: 2px;
    transition: ease 0.3s;
}

.input-item:has(input:focus)>.input-div {
    border-color: #6bcece;
}

.input-item select {
    background-color: #64A0A0;
    border: none;
    color: #fff;
    margin-top: 4px;
    padding: 7px 14px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.select-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 4px;
}

#calcular {
    border: none;
    background-color: #64A0A0;
    padding: 16px 48px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#calcular:hover {
    background-color: #6bcece;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Input numerico sem setas */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Input numerico sem setas */


/* Modal Style*/


.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 400px;
    min-height: 300px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 60px 160px;
}

.linha1,
.linha2 {
    display: flex;
    gap: 190px;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 100%;
}

.linha2 {
    padding: 0px 35px 90px 7px;
}


.linha3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.modal-item {
    display: flex;
    flex-direction: column;
}

.item-titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7px;
}

.item-valores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.modal h2 {
    font-size: 4.8rem;
}

.modal span {
    font-size: 3.6rem;
    font-weight: 600;
    align-self: center;
}

.modal p {
    font-size: 1.6rem;
    font-weight: 500;
}

#fechar-modal {
    border: none;
    background-color: #64A0A0;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 3.6rem;
    transition: 0.3s ease;
}

#fechar-modal:hover {
    background-color: #6bcece;
}

/* Modal Style*/